.project .coverpage
{
    background-image:url('../images/myproject.jpg');
    background-repeat: no-repeat;
    background-size:cover;  
    z-index: 2;
    filter:none;
    height:550px;
    width:100%;
    border-style: 2px solid;
}
.project .center
{
    top:35%;
}
.project h3{
    font-size: 30px;
    padding-left:12%;
    margin:1%;
}
.project p{
    font-size: 18px;
    padding-left: 10%;;
}


